/.RecursiveDescriptionLabelProvider.java._trace
/.RecursiveDescriptionLabelProvider.xtendbin
/.RecursiveLabelProvider.java._trace
/.RecursiveLabelProvider.xtendbin
/RecursiveDescriptionLabelProvider.java
/RecursiveLabelProvider.java
